html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Meiryo UI";
}

.App {
    height: 100%;
}

.ProjectControl {
    height: 100%;
    text-align: center;
}

.SkillEditor {
    height: 100%;
    background: #E1EDFC;
}

.SkillList {
    height: calc(100% - 1em);
    width: 14em;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0.5em;
}

.SkillList > .title {
    height: 2em;
    margin: 0;
    color: #fff;
    background: #0155AA;
}
.SkillList > .title > h1 {
    font-weight: bold;
    font-size: 150%;
    margin: 0;
    padding: 0;
}

.SkillList > ul {
    height: calc(100% - 2.5em - 2px);
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid #7A8088;
}

.SkillListItem {
    height: 1.2em;
    margin: 0;
    padding: 0.1em 0.5em;
    font-size: 90%;
}

.SkillListItem:nth-child(odd) {
    background: #fff;
}

.SkillListItem:nth-child(even) {
    background: #E4ECF2;
}

.SkillListItem.selected {
    color: #fff;
    background: #0274E6;
}
