html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Meiryo UI";
}

.App {
    height: 100%;
}

.ProjectControl {
    height: 5em;
}

.SkillEditor {
    height: calc(100% - 5em);
    background: #E1EDFC;
}

.SkillList {
    height: 100%;
    width: 15em;
}

.SkillList > .title {
    height: 2em;
    margin: 0.5em;
    color: #fff;
    background: #0155AA;
}
.SkillList > .title > h1 {
    font-weight: bold;
    font-size: 150%;
}

.SkillList > ul {
    height: calc(100% - 4em - 2px);
    margin: 0.5em;
    padding: 0;
    overflow: auto;
    border: 1px solid #7A8088;
}

.SkillListItem {
    height: 1.2em;
    margin: 0;
    padding: 0.1em 0.5em;
    font-size: 90%;
}

.SkillListItem:nth-child(odd) {
    background: #fff;
}

.SkillListItem:nth-child(even) {
    background: #E4ECF2;
}
